<div class="card text-bg-dark mb-3" style="max-width: 32rem;">
  <div class="card-header">
    <input class="checkbox" type="checkbox" [checked]="todo.completed" id="flexCheckDefault" (click)="onCheckBoxClick()">
  </div>
  <div class="card-body">
    <h5 class="card-text">{{todo.text}}</h5>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-outline-secondary me-md-2 edit" type="button" (click)="onEditClick()">
        <i class="material-icons">edit</i>
      </button>
      <button class="btn btn-outline-secondary delete" type="button" (click)="onDeleteClick()">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
</div>
