
input#flexCheckDefault {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

input#flexCheckDefault:checked {
  background-color: rgb(59, 247, 59);
}

button.edit:hover {
  color: aquamarine;
}

button.delete:hover {
  color: red;
}

