<div class="form-container">
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
<!--    <h2>New ToDo</h2>-->
    <div class="input-group mb-3">
      <input ngModel #todoTextField="ngModel" required name="text" type="text" class="form-control"
             [placeholder]="todoTextField.invalid ? 'What will you do next...?' : ''"
             aria-label="Recipient's todo" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
        <span>Add</span>
      </button>
    </div>
  </form>
</div>
